  .containerTest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dices {
    display: flex;
    gap: 50px;
  }

  .button {
margin-bottom: 50px;
  }

  .score {
    color: white;
    font-size: 1.4em;
  }